<div id="container">

  <div class="dualbrand">
    <img src="../assets/gfx/rhjb_eap_logo.png" width="300" height="175">
  </div>


  <div id="content">
    <h1>{{title}}</h1>

    <div>
      <p>You have successfully deployed a Jakarta EE Enterprise
        Application.</p>
    </div>

    <form id="reg" name="reg" method="post" action="/kitchensink/index.jsf" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="reg" value="reg">

      <h2>Member Registration</h2>
      <p>Enforces annotation-based constraints defined on the
        model class.</p>
      <table>
        <tbody>
          <tr>
            <td class="titleCell"><label for="reg:name">Name:</label></td>
            <td><input id="reg:name" type="text" name="reg:name" value=""></td>
            <td><span class="invalid">size must be between 1 and 25</span></td>
          </tr>
          <tr>
            <td class="titleCell"><label for="reg:email">Email:</label></td>
            <td><input id="reg:email" type="text" name="reg:email" value=""></td>
            <td><span class="invalid">must be a well-formed email address</span></td>
          </tr>
          <tr>
            <td class="titleCell"><label for="reg:phoneNumber">Phone #:</label></td>
            <td><input id="reg:phoneNumber" type="text" name="reg:phoneNumber" value=""></td>
            <td><span class="invalid">numeric value out of bounds (&lt;12 digits&gt;.&lt;0 digits&gt; expected)</span></td>
          </tr>
        </tbody>
      </table>


      <p></p>
      <table>
        <tbody>
          <tr>
            <td><input id="reg:register" type="submit" name="reg:register" value="Register" class="register"></td>
            <td>
              <ul class="messages">
                <li class="valid"> Registered! </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <p></p><input type="hidden" name="jakarta.faces.ViewState" id="j_id1:jakarta.faces.ViewState:0"
        value="-4394852657924083159:-5200890054900009758" autocomplete="off">
    </form>
    <h2>Members</h2>
    <table class="simpletablestyle">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone #</th>
          <th scope="col">REST URL</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5">
            REST URL for all members: <a href="/rest/members" target="_blank">/rest/members</a></td>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let member of members; trackBy: trackById">
          <td>{{member.id}}</td>
          <td>{{member.name}}</td>
          <td>{{member.email}}</td>
          <td>{{member.phoneNumber}}</td>
          <td><a href="/rest/members/{{member.id}}" target="_blank">/rest/members/{{member.id}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="aside">
    <p>Learn more about Red Hat JBoss Enterprise Application Platform.</p>
    <ul>
      <li><a
          href="https://access.redhat.com/documentation/en/red-hat-jboss-enterprise-application-platform/">Documentation</a>
      </li>
      <li><a href="http://www.redhat.com/en/technologies/jboss-middleware/application-platform">Product Information</a>
      </li>
    </ul>
  </div>

  <div id="footer">
    <p>
      This project was generated from a Maven archetype from
      JBoss.<br>
    </p>
  </div>

</div>

<router-outlet />