<div id="container">

  <div class="dualbrand">
    <img src="../assets/gfx/rhjb_eap_logo.png" width="300" height="175">
  </div>


  <div id="content">
    <h1>{{title}}</h1>

    <div>
      <p>You have successfully deployed a Jakarta EE Enterprise
        Application.</p>
    </div>
    <form #regForm="ngForm">
      <h2>Member Registration</h2>
      <p>Enforces annotation-based constraints defined on the model class.</p>
      <table>
        <tbody>
          <tr>
            <td class="titleCell"><label for="name">Name:</label></td>
            <td><input ngModel name="name" #name="ngModel" type="text" minlength="1" maxlength="25" required></td>
            <td><span class="invalid" *ngIf="name.dirty && name.errors">size must be between 1 and 25</span></td>
          </tr>
          <tr>
            <td class="titleCell"><label for="email">Email:</label></td>
            <td><input ngModel name="email" #email="ngModel" type="email" email required></td>
            <td><span class="invalid" *ngIf="email.dirty && email.errors">must be a well-formed email address</span></td>
          </tr>
          <tr>
            <td class="titleCell"><label for="phoneNumber">Phone #:</label></td>
            <td><input ngModel name="phoneNumber" #phoneNumber="ngModel" minlength="10" maxlength="12" pattern="[0-9]+" required></td>
            <td><span class="invalid" *ngIf="phoneNumber.dirty && phoneNumber.errors">size must be between 10 and 12</span>
            </td>
          </tr>
        </tbody>
      </table>

      <p></p>
      <table>
        <tbody>
          <tr>
            <td>
              <input class="register" type="submit" value="Register" (click)="registerUser(regForm)">
            </td>
            <td>
              <ul class="messages">
                <li class="valid"> Registered! </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <p></p><input type="hidden" name="jakarta.faces.ViewState" id="j_id1:jakarta.faces.ViewState:0"
        value="-4394852657924083159:-5200890054900009758" autocomplete="off">
    </form>

    <h2>Members</h2>
    <table class="simpletablestyle">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone #</th>
          <th scope="col">REST URL</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5">
            REST URL for all members: <a href="{{restRoot}}" target="_blank">{{restRoot}}</a></td>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let member of members; trackBy: trackById">
          <td>{{member.id}}</td>
          <td>{{member.name}}</td>
          <td>{{member.email}}</td>
          <td>{{member.phoneNumber}}</td>
          <td><a href="{{restRoot}}/{{member.id}}" target="_blank">{{restRoot}}/{{member.id}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="aside">
    <p>Learn more about Red Hat JBoss Enterprise Application Platform.</p>
    <ul>
      <li><a
          href="https://access.redhat.com/documentation/en/red-hat-jboss-enterprise-application-platform/">Documentation</a>
      </li>
      <li><a href="http://www.redhat.com/en/technologies/jboss-middleware/application-platform">Product Information</a>
      </li>
    </ul>
  </div>

  <div id="footer">
    <p>
      This project was generated from a Maven archetype from
      JBoss.<br>
    </p>
  </div>

</div>

<router-outlet />